@import "tailwindcss";

:root {
  background-color: #F7C98D;
  font-family: monospace;
}

@layer components {
  .heading {
    @apply text-3xl font-semibold py-4;
  }
  .subheading {
    @apply text-xl font-bold;
  }
  .navbar-text {
    @apply text-2xl py-6 px-2 font-semibold hover:bg-amber-600 hover:text-black text-center;
  }
  .input-field {
    @apply shadow border rounded text-black leading-tight focus:outline-1 focus:shadow;
  }
  .hover-primary {
    @apply shadow bg-sky-500 text-black hover:bg-sky-300;
  }
  .hover-general {
    @apply shadow-xl transition-all transform hover:scale-105;
  }
}

@theme {
  --color-primary: '#59E49B';
  --color-secondary: '#51D6FF';
  --color-neutral: '#6F584B';
  --color-danger: '#F6828C';
}

/* .product-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width:768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
} */